body
{
    background-color: #668cd1;
    margin: 0;
}

h1
{
    color: #c4c5d6;
    font-family: 'Alata', sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: -15px;
}

a, a:hover, a:visited, a:focus
{
    color: #c4c5d6;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
}

a:active
{
    color: #af47c2;
}

header
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.Bouton, .Bouton:hover, .Bouton:visited, .Bouton:focus
{
    border-bottom: 4px solid #af47c2;
    text-align: center;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
}

.Bouton:active
{
    border-bottom:4px solid #c4c5d6;
}

.Bouton2, .Bouton2:hover, .Bouton2:visited, .Bouton2:focus, .Bouton2:active
{
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}



.P
{
    font-size: 28px;
    font-family: 'Varela Round', sans-serif;
    min-width: 400px;
    text-align: justify;
    text-indent: 50px;
    width: 60%;
    color: #2f2539;
    border-left: 4px solid #af47c2;
    padding-left: 20px;
}

h2
{
    font-size: 42px;
    font-family: 'Alata', sans-serif;
    text-align: center;
    color: #c4c5d6;
}

.P2
{
    font-size: 26px;
    font-family: 'Alata', sans-serif;
    color: #356aba;
}

footer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: mediumpurple;
    width: 100%;
}

.Pied
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: -10px;
}

.Contact
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Pied2
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
}

#Accueil
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 150px;
}

.Ac
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.Icon
{
    font-size: 100px;
    margin: 30px 300px 20px 100px;
    color: #2f2539;
}

.Icon:hover
{
    font-size: 150px;
    margin: 30px 300px 20px 100px;
    color: #acacb9;
}

.D, .D:visited, .D:active, .D:focus
{
    font-size: 73px;
    margin-right: 20px;
}

.D:hover
{
    font-size: 73px;
    color: #2f2539;
    margin-right: 20px;
}

#Projet
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.Icon2
{
    font-size: 300px;
    min-font-size: 150px;
    margin-top: 0;
    color: #2f2539;
    margin-bottom: -50px;
}

.Icon2:hover
{
    font-size: 300px;
    min-font-size: 150px;
    margin-top: 0;
    color: #c8bb35;
}

.Oops
{
    font-size: 60px;
    min-font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #2f2539;
}

.Oops:hover
{
    color: #c8bb35;
}

.Oops2
{
    font-size: 40px;
    min-font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: #2f2539;
    margin-top: -10px;
}

.Oops2:hover
{
    color: #c8bb35;
}

.DoubleLien
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}